@forward '../../styles/globals/';
@use '../../styles/util/' as u1;

body {
    background-color: #1b1e21 !important;
}
.AppMain {
    @include u1.block_display();

    .imgGeneral {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 95%;
        margin: 60px auto;

        .ImgCvr {
            @include u1.block_display();
            width: 32%;
            margin: 10px 0;
            height: 300px;
            border-radius: 15px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                pointer-events: none;
            }
        }
    }
}